<div class="reset-box">
    <div id="reset-error" class="error alert alert-danger"></div>
    <div class="content resetBox">
        <div class="form">
            <form method="" asp-antiforgery="true" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                <input id="reset-email" class="form-control" type="text" placeholder="Email" name="email" value="@ViewBag.email">
                <input id="reset-password" class="form-control" type="password" placeholder="Password" name="password">
                <input id="reset-password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                <input id="code" type="hidden" value="@ViewBag.code"/>
                <input class="btn btn-primary btn-reset" type="button" value="Reset Password!" name="commit" onclick="resetPasswordAjax()">
            </form>
        </div>
    </div>
</div>