<div class="wrapper" style="width: 500px; margin: 100px auto;">
    <div class="col-md-3" style="top: -21px; left: 40px;">
        <h1 style="font-size: 100px !important;">:(</h1>
    </div>
    <div class="col-md-6">
        <span class="strong" style="font-size: 60px !important;">Oops.</span>
        <br />
        <span class="strong" style="font-size: 20px !important;">Something went wrong!</span>
    </div>
</div>