
@{
    ViewData["Title"] = "Income Disclosure";
}


<div class="container-fluid margin-contain">
    <h2>Income Disclosure For Tsaishen</h2>
    <br />

    <p>Tsaishen is NOT an income opportunity. Tsaishen is a website platform that helps businesses and individuals to find real estate property that is listed for sale by third party vendors. Some people use Tsaishen to find a personal residence, others us it to obtain investment properties that they then rent or flip to other individuals, and yet some use it for lead generation in their own businesses and services they offer to their clients and about a dozen other things in between.</p>

    <p>We are often asked about what types of income is possible for people using Tsaishen.  Obviously, this depends on what you plan to do with a property once you obtain it, whether you have a team to fix it or help you rent it, whether you have a system to flip it, your purchase price and the market sale price you are able to obtain, how frequently you do transactions and more.  All of those things are outside of the scope of what Tsaishen can do for you.  We are a platform / website that helps make finding properties easier.</p>

    <p>While real estate does have power to create income and generate massive wealth, as with any investment there are risks and there is no guarantee that you will make money by deciding to get into real estate. While we do our best to provide as accurate information as possible of what we are able to find online, these are just estimates and investor should not rely on our data alone but is encouraged to perform their own due diligence and seek help from trusted advisers and professionals before investing in anything. The world of real estate can be rather complex and things are shifting all the time (supply, demand, economic outlook, laws, etc.), so having a financial and legal support is highly advisable to all users.</p>

    <p>At times, you may see testimonials or feedback of what other users were able to do by using Tsaishen services. While we do our best to vet those testimonials for their truthfulness, no subscriber should sole rely on those statements nor assume that just because they saw a statement shared by another user means they will achieve the same outcome. </p>

    <br />
    <br />
    <br />
</div>    
