<div id="success-wrapper">
    <div id="successbanner">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <h1>Payment Successful</h1>
    </div>

    <p>
        Thank you for your subscription to Tsaishen and trying us out. If you do not wish to be billed, please unsubscribe during your 14-day trial period. After that your account will be billed each month until you cancel.
        <br /><br />
        Your transaction has completed and your subscription has started,
        However Paypal's final confirmation might take up to few minutes,
        and we are sending you an email containing the receipt for your purchase.
        <br /><br />
        <a asp-controller="Account" asp-action="manage">Click here</a> to manage your account!.
        <br />
        Or <a asp-controller="Auctions" asp-action="Index">Click here</a> to go out and find your next investment!.
    </p>
</div>